@charset "utf-8";

* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Navbar */

.navbar-pages {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #001A24;
}

.logo-nav {
    height: 90px;
    width: auto;
}

.itens-navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #001A24;
    color: #D9D9D9;
    list-style-type: none;
}

.itens-navbar li {
    margin: 0 15px;
}

.link-nav {
    color: #fff;
    text-decoration: none;
}

@media screen and (max-width: 600px) {
    .navbar-pages .itens-navbar:first-child {
        display: none;
    }

    .logo-nav {
        margin-left: 20%;
    }
}

/* Categorias */

.categorias {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #00ACEE;
    padding: 10px 0;
}

.opcoesCategorias {
    text-decoration: none;
    color: #001A24;
    font-size: 1.2rem;
    margin: 0 20px;
}

.categorias a {
    color: white;
    font-weight: 650;
}


/* Carrossel */

.carrossel-imgs {
    height: 30%;
}

/* Item oculto */
.oculto {
    display: none;
}

/* Sections */
.titulos-estacoes {
    text-align: center;
    border-bottom: 1px solid #000;
    font-size: 3.0rem;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 0.7rem;
}

/* Scroll sections */

.custom-scroll {
    height: 250px;
    overflow-y: auto;
}

/* Comentarios */
.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 auto 10px;
}

/* Footer */
.footer-clean {
    padding: 50px 0;
    background-color: #001a24;
    color: #ffffff;
}

.footer-clean h3 {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 16px;
}

.footer-clean ul {
    padding: 0;
    list-style: none;
    line-height: 1.6;
    font-size: 14px;
    margin-bottom: 0;
}

.footer-clean ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer-clean ul a:hover {
    opacity: 1;
}

.footer-clean .item.social {
    text-align: right;
}

@media (max-width:767px) {
    .footer-clean .item {
        text-align: center;
        padding-bottom: 20px;
    }
}

@media (max-width: 768px) {
    .footer-clean .item.social {
        text-align: center;
    }
}

.footer-clean .item.social>a {
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin-left: 10px;
    margin-top: 22px;
    color: inherit;
    opacity: 0.75;
}

.footer-clean .item.social>a:hover {
    opacity: 0.9;
}

@media (max-width:991px) {
    .footer-clean .item.social>a {
        margin-top: 40px;
    }
}

@media (max-width:767px) {
    .footer-clean .item.social>a {
        margin-top: 10px;
    }
}

.footer-clean .copyright {
    margin-top: 14px;
    margin-bottom: 0;
    font-size: 13px;
    opacity: 0.6;
}

.justifyitem {
    display: grid;
    justify-content: center;
}

#trabalhe-conosco {
    padding: 0 10rem;
}

#destino-para-todos {
    padding: 0 10rem;
}

#back-to-top {
    position: fixed;
    bottom: 50px;
    right: 50px;
    background: none;
    font-size: 24px;
    width: 60px;
    height: 60px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 2px solid #00ACEE;
    margin-left: 10px;
    margin-top: 22px;
    color: #00ACEE;
    opacity: 0.75;
}

@media (min-width:469px) {

    /* Menu fixo */

    .menu_fixo {
        position: fixed;
        z-index: 9999;
        margin-top: -165px;
        width: 100%;
    }

    body {
        padding-top: 165px;
    }
}