@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

.intro_ {
    display: block;
    width: 99vw;
    height: 70vh;
    padding-top: 1em;
    background: url(/assets/home/img/5.png) no-repeat bottom center scroll;
    /* background-position: 30% 45%; */
    /* -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
    -o-background-size: contain; */
}

.logo-container_ {
    display: flex;
    justify-content: center;
    align-items: baseline;
    height: 100%;

}

.navbar_ {
    position: absolute;
    width: 430px;
    height: 50px;
    left: 900px;
    top: 20px;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 20px;
    margin-bottom: 50px;
}

.navbar_ ul {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
    color: #D9D9D9;
    list-style-type: none;
    margin: 0;
    padding-left: 40px;
}

.navbar_ li {
    display: inline-block;
    /* ou display: inline-block; */
    margin: 0;
    padding-left: 10px;
}

.navbar_ input {
    width: 90px;
    height: 25px;
    margin-top: 10px;
    background: #D9D9D9;
    border-radius: 50px;
}

.buttonLogin {
    width: 59px;
    height: 35px;
    left: 1247px;
    top: 27px;
    background: #6B901E;
    border-radius: 50px
}

/* .parallax { */
/* background-attachment: fixed; */
/* background-position: center; */
/* background-repeat: no-repeat; */
/* background-size: cover; */
/* } */

.frase {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 700px;
    height: 62px;
    left: 350px;
    right: 350px;
    top: 530px;
    background: linear-gradient(180deg, #001A24 0%, #0F3A4A 100%);
    border-radius: 15px;
}

.frase p {
    margin: 1px 0;
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #D9D9D9;
}

.destaque {
    color: #00ACEE;
    font-weight: 400;
    line-height: 63px;
}

.container_.parallax_ {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.4fr 0.4fr 0.4fr 0.4fr ;
    /* display: block; */
    background-color: #0F3A4A;
    width: 99vw;
    height: 50vh;
}

.circulocentral {
    margin: auto;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background: url(/assets/home/img/arrailDoCabo.jpg);
    text-align: center;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 5;
    /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
}

footer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(1fr, 2fr));
}
.home {
    grid-column-start: 2;
    grid-column-end:3 ;
    grid-row-start:1 ;
    grid-row-end:2;
    text-align: end;
}
.servico {
    grid-column-start: 2;
    grid-column-end:3 ;
    grid-row-start:2 ;
    grid-row-end:3;
    text-align: center;
}
.SColaborador {
    grid-column-start: 2;
    grid-column-end:3 ;
    grid-row-start:3 ;
    grid-row-end:4;
    text-align: center;
}
.PSocial {
    grid-column-start: 2;
    grid-column-end:3 ;
    grid-row-start:4 ;
    grid-row-end:5;
    text-align: end;
}
.explorar {
    grid-column-start: 4;
    grid-column-end:5 ;
    grid-row-start:1 ;
    grid-row-end:2;
    text-align: left;
}
.estacoes {
    grid-column-start: 4;
    grid-column-end:5 ;
    grid-row-start:2 ;
    grid-row-end:3;
    text-align: center;
}
.paises {
    grid-column-start: 4;
    grid-column-end:5 ;
    grid-row-start:3 ;
    grid-row-end:4;
    text-align: center;
}
.sobre {
    grid-column-start: 4;
    grid-column-end:5 ;
    grid-row-start:4 ;
    grid-row-end:5;
    text-align: left;
}
section a {
    text-decoration: none;
    color: #D9D9D9;
}
section.container_.parallax_ button {
    border-radius: 4em;
}