@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* offcanvas */

:root {
    --offcanvas-horizontal-width: 300px;
}

#offcanvasRight {
    width: var(--offcanvas-horizontal-width);
}

@media screen and (max-width:500px) {
    :root {
        --offcanvas-horizontal-width: 150px;
    }

    #offcanvasRight {
        width: var(--offcanvas-horizontal-width);
    }
}

.inicio {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: url(/assets/img/5.png) no-repeat bottom center scroll;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.navbar-container {
    height: 15%;
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-right: 0;
    margin-left: auto;
    padding-right: 2%;
}

.navbar_ {
    /* position: fixed; */
    z-index: 100;
}

.navbar_ li {
    color: #FFFFFF;
    list-style-type: none;
    display: inline-flex;
}

.navbar_ li input {
    width: min-content;
}

.logo-container_ {
    height: 70%;
    justify-content: center;
    align-items: center;
}

.logo-img {
    width: 570px;
    height: auto;
    filter: drop-shadow(5px 5px 1px #000);
}

@media screen and (max-width: 768px) {
    .logo-container_ {
        display: flex;
        height: 65%;
        justify-content: center;
        align-items: center;
    }

    .logo-img {
        max-width: 90%;
        height: auto;
        text-shadow: 4px 4px 4px #000, -4px 4px 4px #000, 4px -4px 4px #000, -4px -4px 4px #000
    }
}

@media screen and (max-width: 600px) {
    .logo-container_ {
        display: flex;
        height: 65%;
        justify-content: center;
        align-items: center;
    }

    .logo-img {
        max-width: 80%;
        height: auto;
        text-shadow: 4px 4px 4px #000, -4px 4px 4px #000, 4px -4px 4px #000, -4px -4px 4px #000;
    }
}

.frase-container {
    height: 15%;
}

.frase {
    padding: 0 15px;
    border-radius: 15px;
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 35px;
    text-align: center;
    color: #D9D9D9;
    filter: drop-shadow(0px 4px 2px #001A24);
}

/* sombra slogan */

.sombra_slogan {
    text-shadow: 4px 4px 4px #000, -4px 4px 4px #000, 4px -4px 4px #000, -4px -4px 4px #000;
}

@media screen and (max-width: 810px) {
    .frase {
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 590px) {
    .frase {
        font-size: 1.7rem;
        padding: 0 50px;
    }

    .frase-container {
        margin-bottom: 10px;
        height: 30%;
    }
}

@media screen and (max-width: 360px) {
    .frase-container {
        margin-bottom: 10px;
        height: 35%;
    }

    .frase {
        font-size: 1.4;
    }
}

@media screen and (min-width: 1440px) { 
    .logo-container_ {
        display: flex;
        height: 70%;
        justify-content: center;
        align-items: center;
    }

    .logo-img {
        width: 700px;
        height: auto;
        filter: drop-shadow(4px 4px 4px #000, -4px 4px 4px #000, 4px -4px 4px #000, -4px -4px 4px #000);
    }  
    .frase {
        font-size: 3.0rem;
    }
}

@media screen and (min-width: 2560px) { 
    .logo-container_ {
        display: flex;
        height: 70%;
        justify-content: center;
        align-items: center;
    }

    .logo-img {
        width: 900px;
        height: auto;
        filter: drop-shadow(4px 4px 4px #000, -4px 4px 4px #000, 4px -4px 4px #000, -4px -4px 4px #000);
    }  
    .frase {
        font-size: 3.0rem;
    }
}

.destaque {
    color: #00ACEE;
    font-weight: 400;
    line-height: 63px;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0F3A4A;
}

.container_.parallax_ {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.3fr 0.3fr;
    background: #0F3A4A;
    padding-top: 3em;
    padding-bottom: 3em;
}

/* Sections */

section a {
    text-decoration: none;
    color: #D9D9D9;
}

section.container_.parallax_ button {
    border-radius: 4em;
}

/* Explorar */
.pag-explorar {
    background: linear-gradient(270deg, rgb(0, 73, 102) 4.44%, #294B28 100%);
    padding: 2em;
}

.img-explorar {
    max-width: 100%;
    height: auto;
}

.pag-explorar li {
    list-style: none;
    margin: 5px 0;
}

.explorar-text {
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 4.8rem;
    text-shadow: 8px 8px 4px rgba(0, 0, 0, 0.25);
    letter-spacing: 0.7rem;
}

@media screen and (max-width: 500px) {
    .explorar-text {
        font-size: 3.5rem;
    }
}

/* Países */

.section-paises {
    background: url(/assets/img/home/paises.png) no-repeat bottom center scroll;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ul-1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
    text-align: center;
    color: #00ACEE;
    list-style: none;
    font-size: 2.3em;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 100;
    letter-spacing: 0.7rem;
}

.ul-2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;
    text-align: center;
    color: #FFFFFF;
    list-style: none;
    font-size: 2.3rem;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Responsividade */
@media (max-width: 768px) {
    .section-paises {
        background-position: center center;
    }

    .ul-1,
    .ul-2 {
        margin-left: 0;
        text-align: left;
    }
}

@media (max-width: 500px) {

    .ul-1,
    .ul-2 {
        font-size: 1.4rem;
    }
}


/* Geral */

.section-servicos {
    background: linear-gradient(270deg, rgb(0, 73, 102) 4.44%, #294B28 100%);
}

.img-icon {
    width: 50px;
    height: 50px;
}

.col-text {
    text-align: justify;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2.0rem;
    font-weight: 800;
    color: #D9D9D9;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.col-geral {
    font-family: 'Roboto', sans-serif;
    text-align: left;
    color: #00ACEE;
    font-weight: 600;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.legenda-p {
    color: #fff;
    text-align: start;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

@media screen and (max-width: 450px) {
    .col-geral {
        font-size: 1.1rem;
    }
}

/* Footer */
.footer-clean {
    padding: 50px 0;
    background-color: #001a24;
    color: #ffffff;
}

.footer-clean h3 {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 16px;
}

.footer-clean ul {
    padding: 0;
    list-style: none;
    line-height: 1.6;
    font-size: 14px;
    margin-bottom: 0;
}

.footer-clean ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer-clean ul a:hover {
    opacity: 1;
}

.footer-clean .item.social {
    text-align: right;
}

@media (max-width:767px) {
    .footer-clean .item {
        text-align: center;
        padding-bottom: 20px;
    }
}

@media (max-width: 768px) {
    .footer-clean .item.social {
        text-align: center;
    }
}

.footer-clean .item.social>a {
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin-left: 10px;
    margin-top: 22px;
    color: inherit;
    opacity: 0.75;
}

.footer-clean .item.social>a:hover {
    opacity: 0.9;
}

@media (max-width:991px) {
    .footer-clean .item.social>a {
        margin-top: 40px;
    }
}

@media (max-width:767px) {
    .footer-clean .item.social>a {
        margin-top: 10px;
    }
}

.footer-clean .copyright {
    margin-top: 14px;
    margin-bottom: 0;
    font-size: 13px;
    opacity: 0.6;
}

#back-to-top {
    position: fixed;
    bottom: 50px;
    right: 50px;
    background: transparent;
    font-size: 24px;
    width: 60px;
    height: 60px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 2px solid #ccc;
    margin-left: 10px;
    margin-top: 22px;
    color: inherit;
    opacity: 0.75;
}

/* Responsivo */
/* @media only screen and (min-width: 1024px)
@media only screen and (max-width: 414px) */

/* efeito revelar */

.revel-1,
.revel-2,
.revel-3,
.revel-4,
.revel-5 {
    visibility: hidden;
}