@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

/* Navbar */

.navbar-pages {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    background-color: #001A24;
    /* padding: 1.2em 1em ; */
}

.logo-nav {
    height: 90px;
    width: auto;
}

.itens-navbar {
    display: inline-flex;
    align-items: center;
    background-color: #001A24;
    color: #D9D9D9;
    list-style-type: none;
}

.itens-navbar li {
    margin: 0 15px;
}

.link-nav {
    color: #fff;
    text-decoration: none;
}

/* Categorias */

.categorias {
    display: flex;
    justify-content: space-evenly;
    background: linear-gradient(180deg, #00ACEE 100%, #00ACEE 0%);
    padding: 10px 0;
}

.opcoesCategorias {
    background-color: #00ACEE;
    font-family: 'Roboto Condensed', sans-serif;
    color: #001A24;
    font-weight: 600;
    font-size: 1.2rem;
    border-radius: 5px;
    margin: 0 20px;
    align-items: center;
}

main {
    margin: 50px 150px;
}

/* Destinos BR */

.img-br {
    width: 100%;
    height: auto;
}

/* Países */

.image {
    display: inline;
    width: 104%;
    height: 100%;
}


/* Profissionais */

.container-profissionais {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card-style {
    width: 200px;
    margin-bottom: 20px;
    border: 1px solid #fff;
    padding: 20px;
    text-align: center;
}

.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto 10px;
}

.nome {
    font-weight: bold;
    margin-bottom: 5px;
}

.profissao {
    color: #000;
    background-color: #fff;
}


/* Footer */
.footer-clean {
    padding: 50px 0;
    background-color: #001a24;
    color: #ffffff;
}

.footer-clean h3 {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 16px;
}

.footer-clean ul {
    padding: 0;
    list-style: none;
    line-height: 1.6;
    font-size: 14px;
    margin-bottom: 0;
}

.footer-clean ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer-clean ul a:hover {
    opacity: 1;
}

.footer-clean .item.social {
    text-align: right;
}

@media (max-width:767px) {
    .footer-clean .item {
        text-align: center;
        padding-bottom: 20px;
    }
}

@media (max-width: 768px) {
    .footer-clean .item.social {
        text-align: center;
    }
}

.footer-clean .item.social>a {
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin-left: 10px;
    margin-top: 22px;
    color: inherit;
    opacity: 0.75;
}

.footer-clean .item.social>a:hover {
    opacity: 0.9;
}

@media (max-width:991px) {
    .footer-clean .item.social>a {
        margin-top: 40px;
    }
}

@media (max-width:767px) {
    .footer-clean .item.social>a {
        margin-top: 10px;
    }
}

.footer-clean .copyright {
    margin-top: 14px;
    margin-bottom: 0;
    font-size: 13px;
    opacity: 0.6;
}