@charset "utf-8";

body {
    margin: 0%;
    padding: 0%;
}


header {
    

    margin: 0% 0%;
    padding: 2% 4%;
    border-bottom: 1px solid black;
}

.parallax{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    max-height: 964px;
    height: auto;
    max-width: 1440px;
    width: auto;
}
.parallax > img {
    
}

footer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}
