@charset "utf-8";

body {
}

header {

}

.parallax{
    background-image: url("./home/img/imghome.png");

    min-height: 944px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


footer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}
